streamlit==1.40.2
pandas==2.2.0
langchain==0.2.14
langchain-openai==0.1.21
langchain-qdrant==0.1.19
qdrant-client==1.11.1
openai==1.50.0
tiktoken==0.7.0
reportlab==4.4.6
python-dotenv==1.0.1
numpy==1.26.4